// bower:scss
// endbower

body {
  padding: 0;
  width: 100%;
}

.Vidage__backdrop,.Vidage__image{
  position:absolute;top:0;right:0;bottom:0;left:0; width:100%;
  }
.Vidage--allow .Vidage__video{display:block}
.Vidage--allow .Vidage__image{display:none}
.Vidage{
  position:fixed;top:15vh;right:0;bottom:0;left:0;z-index:-1
  }
.Vidage__video{
  position:absolute;
  top:0;
  left:50%;
  height:100%;
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%);
  display:none;
}
.Vidage__image{background-image:url(../images/bg.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover}.Vidage__backdrop{background-color:#1b1c1d;background-image:url(../images/overlay.png);opacity:.1}

.main-view{
  padding: 0;
}

a{
  color: #44cfd2;
}
.logo{
  height: 15vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
}
.logo img{
  height: 100%;
}
.navbar{
  background: #fff;
  border: none;
  box-shadow: 0 0 25px rgba(51, 51, 51, 0.15);
}
ul.nav li a{
  padding-top: calc(7.5vh - 10px);
  padding-bottom: calc(7.5vh - 10px);
}
.custom-ham{
  margin-top: calc(7.5vh - 10px);
  margin-bottom: calc(7.5vh - 10px);
}
.nav-pills li.active a{
  background-color: #44cfd2;
}
.nav-pills li a{
  border-radius: 0px;
}
.nav-pills li a:hover{
    background-color: #44cfd2;
    color: #fff;
}
.play-store{
  right: 0;
  position: absolute;
  bottom:0;
  width: 20vw;
}
.play-store a img{
  width: 100%;
}
.details{
  position: absolute;
  top: 100vh;
  background: #fff;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
}
.about h1, .contact h1{
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
}
.about, .contact{
  padding: 20px;
}
.about {
  background: #fff url('../images/bg_about.png') bottom no-repeat;
  background-size: cover;
  color: #015a5c;
  min-height: 100vh;

}
.about h1{
  background: #44CFD2;
  color: #fff;
}
.about-box{
  padding: 20px;
}
.about-box-content{
  text-align: center;
  background: rgba(255,255,255,0.8);
  padding: 20px;
  box-shadow: 0 0 5px #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-box-content img{
  padding: 20px;
  width: 120px;
}
.about-box-content h2{
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px rgba(1,90,92,.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.contact {
  background-color: #44cfd2;
  color: #fff;
  text-align: center;
}
.contact h1{
  background: #fff;
  color: #44cfd2;
}
.contact-container{
  width: 100%;
  max-width: 600px;
  margin: 20px auto 10px;
}

.header{
  height: 65px;
}

.mypic{
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  min-height: 500px;
  border-radius: 9px;

  .header{
    text-align: center;
  }
  .form-horizontal{
    margin-top: 20px;
  }
}

#image1{
    width: 100%;
    height: auto;
}

#footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 20vw;
    padding: 5px;
}

#footer a{
    text-decoration: none;
    color: black;
}

#footer a img{
  width: 100%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  #footer{
      width: 10vw;
  }
}
